ul {
    list-style: none; /* Removes default bullet points */
    padding: 0; /* Removes default padding */
}

.package-card {
    border-bottom: 1px solid #000; /* Add a bottom border */
    padding: 10px; /* Optional: Adds some spacing */
}

.package-card:hover {
    background-color: #eee; /* Optional: Adds a grey background color on hover */
}

.package-card h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.package-card h2 {
    font-size: 1.3em;
    font-weight: bold;
}

.package-card h3 {
    font-size: 1.15em;
    font-weight: bold;
}

.package-card h4 {
    font-size: 1em;
    font-weight: bold;
}

.main-container {
    margin: 0 auto; /* Centers the container */
    max-width: 700px; /* Sets a maximum width */
    padding: 10px; /* Adds some spacing */
}

body {
    font-family: Arial, Helvetica, sans-serif; /* Sets the font family */
    font-size: 14px; /* Sets the default font size */
}

.package-card-header {
    display: flex; /* Displays the elements in a row */
    justify-content: space-between; /* Aligns the elements to the left and right */
    border-bottom: 3px solid #ff6f00; /* Adds a bottom border */
    padding: 0 10px; /* Adds some spacing */
}

.package-card-header code {
    background-color: #e4e4e4; /* Adds a white background color */
    padding: 2px 5px; /* Adds some spacing */
}