body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

#submitModuleForm input button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#submitModuleForm button {
    border: none;
    background-color: #4CAF50;
    cursor: pointer;
}

#submitModuleForm button:hover {
    background-color: #45a049;
}

#success {
    color: green;
    font-size: 2em;
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.container {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    /* width: 100%; */
    text-align: left;
}

.card h2 {
    margin-top: 0;
}

.card p {
    line-height: 1.5;
}

.card code {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

.card a:hover {
    text-decoration: underline;
}